<md-card>
    <button md-mini-fab color="warn" class="card-delete-fab" (click)="detachment.delete()">
        <md-icon>delete</md-icon>
    </button>

    <md-card-title>
        <md-toolbar [color]="detachment.valid ? '' : 'warn'">
            <span>{{detachment.Name}}</span>
            <div class="spacer"></div>
            <span>CP: {{detachment.CP}} | Cost: {{detachment.cost}}</span>

        </md-toolbar>
    </md-card-title>

    <md-card-content>
        <app-detachment-section [unitOptions]="armyList.HQ" [section]="detachment.HQ"></app-detachment-section>
        <app-detachment-section [unitOptions]="armyList.Troops" [section]="detachment.Troops"></app-detachment-section>
        <app-detachment-section [unitOptions]="armyList.Elites" [section]="detachment.Elites"></app-detachment-section>
        <app-detachment-section [unitOptions]="armyList.FastAttack" [section]="detachment.FastAttack"></app-detachment-section>
        <app-detachment-section [unitOptions]="armyList.HeavySupport" [section]="detachment.HeavySupport"></app-detachment-section>
        <app-detachment-section [unitOptions]="armyList.Transports" [section]="detachment.Transports"></app-detachment-section>
        <app-detachment-section [unitOptions]="armyList.Fliers" [section]="detachment.Fliers"></app-detachment-section>
        <app-detachment-section [unitOptions]="armyList.LordOfWar" [section]="detachment.LordOfWar"></app-detachment-section>
        <app-detachment-section [unitOptions]="armyList.Fortifications" [section]="detachment.Fortifications"></app-detachment-section>
    </md-card-content>
</md-card>
