<div class="route-content">
    <md-card>
        <md-toolbar>
            <span>Army Tools</span>
            <div class="spacer"></div>
            <span>CP: {{army.CP}} |</span>
            <span>Cost: {{army.cost}}</span>
        </md-toolbar>
        <md-select [(ngModel)]="armyList" placeholder="Select Army" floatPlaceholder="never">
            <md-option *ngFor="let list of armyLists" [value]="list">
                {{list.Name}}
            </md-option>
        </md-select>
    </md-card>

    <md-card *ngIf="armyList">
        <md-card-title>
            <md-toolbar>
                <span>Detachments</span>
            </md-toolbar>
        </md-card-title>

        <md-card-content>
            <md-select [(ngModel)]="selectedDetachment" placeholder="Select a detachment">
                <md-option *ngFor="let option of detachmentOptions" [value]="option">
                    {{option.Name}}
                </md-option>
            </md-select>
            <button md-icon-button="" (click)="addDetachment()">
                <md-icon>library_add</md-icon>
            </button>
        </md-card-content>

        <md-card-content>
            <!-- Detachments in Army -->
            <app-detachment *ngFor="let detachment of army.Detachments" [detachment]="detachment" [armyList]="armyList"></app-detachment>
        </md-card-content>
    </md-card>

</div>
