<div class="route-content">
    <mat-card>
        <mat-toolbar>
            <span>Army Tools</span>
            <div class="spacer"></div>
            <span>CP: {{army.CP}} |</span>
            <span>Cost: {{army.cost}}</span>
        </mat-toolbar>
        <mat-select [(ngModel)]="armyList" placeholder="Select Army" floatPlaceholder="never">
            <mat-option *ngFor="let list of armyLists" [value]="list">
                {{list.Name}}
            </mat-option>
        </mat-select>
    </mat-card>

    <mat-card *ngIf="armyList">
        <mat-card-title>
            <mat-toolbar>
                <span>Detachments</span>
            </mat-toolbar>
        </mat-card-title>

        <mat-card-content>
            <mat-select [(ngModel)]="selectedDetachment" placeholder="Select a detachment">
                <mat-option *ngFor="let option of detachmentOptions" [value]="option">
                    {{option.Name}}
                </mat-option>
            </mat-select>
            <button mat-icon-button="" (click)="addDetachment()">
                <mat-icon>library_add</mat-icon>
            </button>
        </mat-card-content>

        <mat-card-content>
            <!-- Detachments in Army -->
            <app-detachment *ngFor="let detachment of army.Detachments" [detachment]="detachment" [armyList]="armyList"></app-detachment>
        </mat-card-content>
    </mat-card>

</div>
