<div class="route-content">
    <mat-card>
        <mat-card-title-group>
            <mat-card-title>
                Harrogate Mikado 2017
            </mat-card-title>
            <mat-card-subtitle>
                Backstage photos
            </mat-card-subtitle>
        </mat-card-title-group>

        <mat-card-content>
            Download a full zip here:
            <a mat-icon-button="" color="primary" href="assets/images/lopsoc/lopsoc.zip">
                <mat-icon>cloud_download</mat-icon>
            </a>
        </mat-card-content>

        <mat-card-content>
            <mat-grid-list [cols]="gridCols">
                <mat-grid-tile *ngFor="let image of images">
                    <a routerLink="{{image}}">
                        <img [src]="'assets/images/lopsoc/thumbs/'+image" />
                    </a>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>