<div class="route-content">
    <md-card>
        <md-card-title-group>
            <md-card-title>
                Harrogate Mikado 2017
            </md-card-title>
            <md-card-subtitle>
                Backstage photos
            </md-card-subtitle>
        </md-card-title-group>

        <md-card-content>
            Download a full zip here:
            <a md-icon-button="" color="primary" href="assets/images/lopsoc/lopsoc.zip">
                <md-icon>cloud_download</md-icon>
            </a>
        </md-card-content>

        <md-card-content>
            <md-grid-list [cols]="gridCols">
                <md-grid-tile *ngFor="let image of images">
                    <a routerLink="{{image}}">
                        <img [src]="'assets/images/lopsoc/thumbs/'+image" />
                    </a>
                </md-grid-tile>
            </md-grid-list>
        </md-card-content>
    </md-card>
</div>