<mat-card *ngIf="section.max > 0 || section.min > 0">
    <mat-toolbar>
        <span>{{section.name}}</span>
        <span>({{section.min}} - {{section.max}})</span>
        <button *ngIf="!section.valid" mat-icon-button color="warn">
            <mat-icon>warning</mat-icon>
        </button>

        <div class="spacer"></div>
        <span>Cost: {{section.cost}}</span>
    </mat-toolbar>

    <mat-card-content>
        <mat-select [(ngModel)]="selectedUnit" placeholder="Select a unit">
            <mat-option *ngFor="let option of unitOptions" [value]="option">
                {{option.name}}
            </mat-option>
        </mat-select>
        <button color="primary" mat-icon-button="" (click)="addUnit()">
            <mat-icon>add_circle</mat-icon>
        </button>
    </mat-card-content>

    <app-unit></app-unit>
    <mat-card-content *ngFor="let unit of section.units">
        <mat-card-title>
            <span>{{unit.name}}</span>
        </mat-card-title>

        <mat-table #table [dataSource]="unit.dataSource">
            <!-- Number Column -->
            <ng-container matColumnDef="count">
                <mat-header-cell *matHeaderCellDef [ngClass]=""> Count </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button color="primary" mat-icon-button [disabled]="element.count <= element.min" (click)="element.count = element.count - 1">
                        <mat-icon>remove_circle</mat-icon>
                    </button>
                    {{element.count}}
                    <button color="primary" mat-icon-button [disabled]="element.count >= element.max" (click)="element.count = element.count + 1">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef [ngClass]=""> Name </mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>
            <!-- Movement Column -->
            <ng-container matColumnDef="movement">
                <mat-header-cell *matHeaderCellDef> MV </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.movement}}" </mat-cell>
            </ng-container>
            <!-- BS Column -->
            <ng-container matColumnDef="bs">
                <mat-header-cell *matHeaderCellDef> BS </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.bs}}+ </mat-cell>
            </ng-container>
            <!-- WS Column -->
            <ng-container matColumnDef="ws">
                <mat-header-cell *matHeaderCellDef> WS </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ws}}+ </mat-cell>
            </ng-container>
            <!-- Strength Column -->
            <ng-container matColumnDef="strength">
                <mat-header-cell *matHeaderCellDef> S </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.strength}} </mat-cell>
            </ng-container>
            <!-- Toughness Column -->
            <ng-container matColumnDef="toughness">
                <mat-header-cell *matHeaderCellDef> T </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.toughness}} </mat-cell>
            </ng-container>
            <!-- Wounds Column -->
            <ng-container matColumnDef="wounds">
                <mat-header-cell *matHeaderCellDef> W </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.wounds}} </mat-cell>
            </ng-container>
            <!-- Attacks Column -->
            <ng-container matColumnDef="attacks">
                <mat-header-cell *matHeaderCellDef> WS </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.attacks}} </mat-cell>
            </ng-container>
            <!-- Save Column -->
            <ng-container matColumnDef="save">
                <mat-header-cell *matHeaderCellDef> Sv </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.save}}+ </mat-cell>
            </ng-container>
            <!-- Leadership Column -->
            <ng-container matColumnDef="leadership">
                <mat-header-cell *matHeaderCellDef> Ld </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.leadership}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </mat-card-content>

    <!--<mat-card-content>-->
        <!--<mat-table #table [dataSource]="section.unitsDataSource">-->
            <!--&lt;!&ndash; Name Column &ndash;&gt;-->
            <!--<ng-container matColumnDef="name">-->
                <!--<mat-header-cell *matHeaderCellDef [ngClass]=""> Name </mat-header-cell>-->
                <!--<mat-cell *matCellDef="let element"> {{element.name}} ({{element.models[0].count}}) </mat-cell>-->
            <!--</ng-container>-->
            <!--&lt;!&ndash; Movement Column &ndash;&gt;-->
            <!--<ng-container matColumnDef="movement">-->
                <!--<mat-header-cell *matHeaderCellDef> MV </mat-header-cell>-->
                <!--<mat-cell *matCellDef="let element"> {{element.models[0].movement}}" </mat-cell>-->
            <!--</ng-container>-->
            <!--&lt;!&ndash; BS Column &ndash;&gt;-->
            <!--<ng-container matColumnDef="bs">-->
                <!--<mat-header-cell *matHeaderCellDef> BS </mat-header-cell>-->
                <!--<mat-cell *matCellDef="let element"> {{element.bs}}+ </mat-cell>-->
            <!--</ng-container>-->
            <!--&lt;!&ndash; WS Column &ndash;&gt;-->
            <!--<ng-container matColumnDef="ws">-->
                <!--<mat-header-cell *matHeaderCellDef> WS </mat-header-cell>-->
                <!--<mat-cell *matCellDef="let element"> {{element.ws}}+ </mat-cell>-->
            <!--</ng-container>-->
            <!--&lt;!&ndash; Strength Column &ndash;&gt;-->
            <!--<ng-container matColumnDef="strength">-->
                <!--<mat-header-cell *matHeaderCellDef> S </mat-header-cell>-->
                <!--<mat-cell *matCellDef="let element"> {{element.strength}} </mat-cell>-->
            <!--</ng-container>-->
            <!--&lt;!&ndash; Toughness Column &ndash;&gt;-->
            <!--<ng-container matColumnDef="toughness">-->
                <!--<mat-header-cell *matHeaderCellDef> T </mat-header-cell>-->
                <!--<mat-cell *matCellDef="let element"> {{element.toughness}} </mat-cell>-->
            <!--</ng-container>-->
            <!--&lt;!&ndash; Wounds Column &ndash;&gt;-->
            <!--<ng-container matColumnDef="wounds">-->
                <!--<mat-header-cell *matHeaderCellDef> W </mat-header-cell>-->
                <!--<mat-cell *matCellDef="let element"> {{element.wounds}} </mat-cell>-->
            <!--</ng-container>-->
            <!--&lt;!&ndash; Attacks Column &ndash;&gt;-->
            <!--<ng-container matColumnDef="attacks">-->
                <!--<mat-header-cell *matHeaderCellDef> WS </mat-header-cell>-->
                <!--<mat-cell *matCellDef="let element"> {{element.attacks}} </mat-cell>-->
            <!--</ng-container>-->
            <!--&lt;!&ndash; Save Column &ndash;&gt;-->
            <!--<ng-container matColumnDef="save">-->
                <!--<mat-header-cell *matHeaderCellDef> Sv </mat-header-cell>-->
                <!--<mat-cell *matCellDef="let element"> {{element.save}}+ </mat-cell>-->
            <!--</ng-container>-->
            <!--&lt;!&ndash; Leadership Column &ndash;&gt;-->
            <!--<ng-container matColumnDef="leadership">-->
                <!--<mat-header-cell *matHeaderCellDef> Ld </mat-header-cell>-->
                <!--<mat-cell *matCellDef="let element"> {{element.leadership}} </mat-cell>-->
            <!--</ng-container>-->

            <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
            <!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
        <!--</mat-table>-->
    <!--</mat-card-content>-->
</mat-card>