<app-detachment-section [section]="detachment.HQ"></app-detachment-section>
<app-detachment-section [section]="detachment.Troops"></app-detachment-section>
<app-detachment-section [section]="detachment.Elites"></app-detachment-section>
<app-detachment-section [section]="detachment.FastAttack"></app-detachment-section>
<app-detachment-section [section]="detachment.HeavySupport"></app-detachment-section>
<app-detachment-section [section]="detachment.Transports"></app-detachment-section>
<app-detachment-section [section]="detachment.Fliers"></app-detachment-section>
<app-detachment-section [section]="detachment.LordOfWar"></app-detachment-section>
<app-detachment-section [section]="detachment.Fortifications"></app-detachment-section>