<md-sidenav-container class="sidenav-container-fill">
    <md-sidenav #sidenav mode="side" >
        <nav>
            <a routerLink="blog">Blog</a>
        </nav>
    </md-sidenav>
    <md-toolbar color="primary" style="display:flex">
        <button md-icon-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
        <span>{{title}}</span>
        <span class="spacer"></span>
        <button md-icon-button (click)="getData()"><md-icon>refresh</md-icon></button>
    </md-toolbar>

    <md-progress-bar *ngIf="loadingBarShow" [mode]="loadingBarMode"></md-progress-bar>

    <router-outlet></router-outlet>

</md-sidenav-container>