    <md-sidenav-container class="sidenav-container-fill">

        <md-toolbar color="primary">
            <button md-icon-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
            <span>{{title}}</span>
            <span class="spacer"></span>
            <button md-icon-button (click)="getData()"><md-icon>refresh</md-icon></button>
        </md-toolbar>

        <md-sidenav #sidenav mode="over" >
            <md-toolbar color="primary">
                <button md-icon-button="" (click)="sidenav.toggle()">
                    <md-icon>menu</md-icon>
                </button>
                <span class="spacer"></span>
            </md-toolbar>

            <md-nav-list>
                <a md-list-item routerLink="" routerLinkActive="mat-list-item-focus">Home</a>
                <a md-list-item routerLink="army" routerLinkActive="mat-list-item-focus">Armies</a>
                <a md-list-item routerLink="crypt" routerLinkActive="mat-list-item-focus">Crypt</a>
                <a md-list-item routerLink="lopsoc" routerLinkActive="mat-list-item-focus">LOpSoc Images</a>
            </md-nav-list>
        </md-sidenav>

        <router-outlet></router-outlet>

    </md-sidenav-container>