.layout-fill {
    /*min-height: 100%;*/
    /*max-width: 100%;*/
    /*width: 100%;*/
    /*height: 100vh;*/
}

.sidenav-container-fill {
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
}

.sidenav-container-fill .mat-sidenav-content,
.sidenav-container-fill mat-sidenav {
    /*display: flex;*/
    /*overflow: visible;*/
}

.mat-sidenav-container {
    min-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100vh;
}

.scrolling-content {
    /*overflow: auto;*/
}

::ng-deep .spacer {
    flex: 1 1 auto;
}

::ng-deep .route-content {
    margin: 10px;
}

