    <mat-sidenav-container class="sidenav-container-fill">

        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
            <span>{{title}}</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="getData()"><mat-icon>refresh</mat-icon></button>
        </mat-toolbar>

        <mat-sidenav #sidenav mode="over" >
            <mat-toolbar color="primary">
                <button mat-icon-button="" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="spacer"></span>
            </mat-toolbar>

            <mat-nav-list>
                <a mat-list-item routerLink="" routerLinkActive="mat-list-item-focus">Home</a>
                <a mat-list-item routerLink="army" routerLinkActive="mat-list-item-focus">Armies</a>
                <a mat-list-item routerLink="crypt" routerLinkActive="mat-list-item-focus">Crypt</a>
                <a mat-list-item routerLink="lopsoc" routerLinkActive="mat-list-item-focus">LOpSoc Images</a>
            </mat-nav-list>
        </mat-sidenav>

        <router-outlet></router-outlet>

    </mat-sidenav-container>