<mat-progress-bar *ngIf="loadingBarShow" [mode]="loadingBarMode"></mat-progress-bar>

<div [hidden]="loggedIn">
    <mat-input-container class="input-full-width">
        <input matInput [ngModel]="loginField" (ngModelChange)="doLogin($event)"/>
    </mat-input-container>
</div>

<div [hidden]="!loggedIn">
    <form class="post-form" (submit)="addPost()" #postForm="ngForm">
        <mat-input-container class="input-full-width">
            <input matInput [(ngModel)]="newPost.title" name="title" placeholder="Title" required/>
        </mat-input-container>
        <mat-input-container class="input-full-width">
            <textarea matInput matTextareaAutosize [(ngModel)]="newPost.content" name="content"
                      placeholder="Post New Update" required></textarea>
        </mat-input-container>
        <mat-input-container class="input-full-width">
            <input matInput type="number" name="rating" [(ngModel)]="newPost.rating" name="rating"
                   placeholder="Rate the day" required/>
        </mat-input-container>
        <button type="submit" mat-raised-button color="primary" [disabled]="!postForm.form.valid">New Post</button>
    </form>

    <blog-post [post]="newPost"></blog-post>
</div>


<blog-post *ngFor="let post of blogPosts" [post]=post></blog-post>